html {

	padding: 0;
	margin: 0;
	height: 100%;
	--header-height: 43px;
	--tray-width: 350px;
	--primary-color: #0d47a1;
	--tool-height: 33px;
	--palette-width: 430px;
	--dark-color: #8a8a8a;

}

body {

	padding: 0;
	margin: 0;
	height: 100%;

}

main {

	padding: 0;
	margin: 0;
	height: 100%;

}

header {

	background-color: #e8e8e8;
	height: calc(var(--header-height) - 1px);
	border-bottom: 1px solid var(--dark-color);
	width: 100%;

}

header table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

header table input[type="file"] {

	display: none;

}

header table td.title {

	width: var(--tray-width);

}


header h1 {

	color: var(--primary-color);
	font-size: 16px;
	font-weight: 400;
	text-indent: 4px;
	padding: 0;
	margin: 0;

}

header table td.button {

	width: 140px;
	text-indent: 4px;

}

header table td.button.half {

	width: 80px;

}

header table td.button:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

section {

	height: calc(100% - var(--header-height));
	background-color: #f2f2f2;
	width: 100%;
	position: relative;

}

section article.tray {

	position: absolute;
	left: 0;
	top: 0;
	width: calc(var(--tray-width) - 1px);
	border-right: 1px solid var(--dark-color);
	height: 100%;

}

div.toolbox {

	width: 100%;
	height: calc(var(--tool-height) - 1px);
	border-bottom: 1px solid #e5e5e5;

}

div.toolbox table {

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 12px;
	font-family: monospace;
	text-indent: 4px;

}

div.toolbox table a:hover {
	
	cursor: pointer;
	color: var(--primary-color);

}

div.toolbox table td.import {
	
	text-indent: 4px;

}

div.toolbox table td.import a:hover {

	cursor: pointer;
	color: var(--primary-color);

}

div.toolbox table td.label {

	text-indent: 4px;
	width: 70px;

}

div.toolbox table td select {

	width: calc(100% - 14px);

}

div.toolbox table td.count {

	width: 90px;

}

section article.tray div.toolbox {

}

section article.tray div.filelist {

	width: 100%;
	height: 100%;
	background-color: #fff;
	overflow-y: scroll;
	font-size: 14px;
	font-family: monospace;

}

section article.tray div.filelist li {

	list-style: none;
	padding: 4px 0;
	text-indent: 8px;

}

section article.tray div.filelist li.label {

	font-weight: bold;
	background-color: #eee;

}


section article.tray div.filelist ul {

	padding: 0;
	margin: 0;
	border-top: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;

}

section article.tray div.filelist li.tim {

}

section article.tray div.filelist li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;

}

section article.tray div.filelist li table td.label {

	width: 260px;

}

section article.tray div.filelist li table td.pal {

	text-align: center;

}

section article.tray div.filelist li.tim.dirty {

	color: #109068;

}

section article.tray div.filelist li.tim.active {

	color: var(--primary-color);
	background-color: rgba(0,0,0,0.1);

}

section article.tray div.filelist li.tim:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}


section article.palette {

	width: calc(var(--palette-width) - 1px);
	border-left: 1px solid var(--dark-color);
	height: 100%;
	right: 0;
	top: 0;
	position: absolute;

}


section article.palette div.slot {

	width: 100%;
	height: calc(100% - var(--tool-height));
	overflow-y: scroll;

}

section article.palette div.slot li {

	list-style: none;
	padding: 4px 0;
	border-bottom: 1px solid #e5e5e5;

}

section article.palette div.slot li table {

	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 14px;
	font-family: monospace;

}

section article.palette div.slot li table td.preview {

	width: 90px;
	

}

section article.canvas {

	width: calc(100% - var(--palette-width) - var(--tray-width));
	height: 100%;
	position: absolute;
	left: var(--tray-width);
	top: 0;

}

section article.canvas div.workspace {

	width: 100%;
	height: calc(100% - var(--tool-height));
	background-color: rgba(0,0,0,0.2);
	overflow-x: auto;
	overflow-y: auto;

}

section article.canvas div.workspace table.flex{

	width: 100%;
	height: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: center;

}

section article.canvas div.workspace div.square {

	background-color: #fff;
	padding: 20px;
	display: inline-block;
	margin: auto;
	border-radius: 5px;

}

section article.canvas div.workspace div.square canvas {

	border: 1px solid #bababa;
	background-image: url('../img/transparent-grid1-01-.jpg');

}

section article.canvas div.workspace div.square table {

	table-layout: fixed;
	border-collapse: collapse;
	background-image: url('../img/transparent-grid1-01-.jpg');
	border: 1px solid #e5e5e5;

}

section article.canvas div.workspace div.square table div.pixel {

	width: 2px;
	height: 2px;

}

section article.canvas div.workspace div.square table div.pixel:hover {

	cursor: pointer;
	background-color: rgba(0,0,0,0.1);

}

section article.palette div.slot li table td.letter {

	width: 20px;
	text-align: center;

}

section article.palette div.slot li table td.readout {

	width: 40px;

}

section article.palette div.slot li table td.preview div.trans {

	width: 70px;
	height: 70px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	display: block;
	margin: auto;
	overflow: hidden;
	position: relative;
	background-image: url('../img/transparent-grid1-01-.jpg');

}

section article.palette div.slot li table td.preview div.color {

	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: attr(data-color);

}

section article.palette div.slot li table td.preview div.color:hover {

	cursor: pointer;

}

section article.palette div.slot li table td input[type="range"] {

	width: calc(100% - 18px);

}
